<config>
	
	<!-- --------------------------- SERVER ------------------------- -->
	
	<auth>FtdV5IIJap</auth>
	<serverURL>http://122.155.12.135/~tcc/query_day_2.php</serverURL>
	

	
	<!-- --------------------------- TIME --------------------------- -->
	
	<!-- query ข้อมูลทุกกี่วินาที  -->
	<stepQuery>180</stepQuery>

	<!-- update ข้อมูลทุกกี่วินาที  -->
	<stepRefreshUI>5</stepRefreshUI>
	
	<!-- --------------------------- DAILY --------------------------- -->
	
</config>