<config>
	
	<!-- --------------------------- SERVER ------------------------- -->
	
	<auth>FtdV5IIJapewfsT</auth>
	<serverURL>http://localhost/git_fla_top/server/display.php</serverURL>
	

	
	<!-- --------------------------- TIME --------------------------- -->
	
	<!-- query ข้อมูลทุกกี่ step -->
	<stepQuery>3</stepQuery>

	<!-- update ข้อมูลทุกกี่วินาที  -->
	<stepRefreshUI>5</stepRefreshUI>
	
	<!-- --------------------------- DAILY --------------------------- -->
	
</config>